services:
  redis:
    image: redis:8.2.3-bookworm
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - shared
    volumes:
      - ./data:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf:ro
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]

  webdis:
    image: docker.mybacc.com/nicolas/webdis:latest
    container_name: webdis
    depends_on:
      - redis
    ports:
      - "7379:7379"
    networks:
      - shared
    volumes:
      - ./webdis.json:/config/webdis.json:ro
    command: ["/usr/local/bin/webdis", "/config/webdis.json"]

  redisinsight:
    image: redis/redisinsight:latest
    container_name: redisinsight
    depends_on:
      - redis
    ports:
      - "5540:5540"
    networks:
      - shared
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - RI_REDIS_USERNAME=default
      - RI_REDIS_PASSWORD=defaultpass
      - RI_STDOUT_LOGGER=true
      - RI_FILES_LOGGER=false
      - RI_ACCEPT_TERMS_AND_CONDITIONS=true
    volumes:
      - redisinsight-data:/data

networks:
  shared:

volumes:
  redisinsight-data: {}
