.tagline {
    text-align: center;
}

/* footnote */
f {
    font-size: small;
    color: SteelBlue;
}

/* mark, emphasis */
m {
    /* font-weight: bold; */
    color: HotPink;
}

/* link: no decoration */
a {
    text-decoration: none !important;
}

details {
    border: 1px dashed #c0c0c0;
}

.timeline-dot-title > a {
    font-size: 20px;
}
