.tagline {
  text-align: center;
}

/* footnote */
f {
  font-size: small;
  color: SteelBlue;
}

/* mark, emphasis */
m {
  /* font-weight: bold; */
  color: HotPink;
}

/* link: no decoration */
a {
  text-decoration: none !important;
}

details {
  /* border: 1px dashed #c0c0c0; */
  line-height: 2;
}

.timeline-dot-title > a {
  font-size: 20px;
}

tip {
  font-size: 14px;
}

h3 {
  padding-bottom: 10px;
}

/* 首页禁用全局滚动 */
html:has(.is-home),
html:has(.is-home) body {
  overflow: hidden !important;
}

html.raw-text-mode .VPNavBar .VPSocialLinks {
  display: none !important;
}
